.lead__title {
    max-width: 720px;
    margin: 0 auto 32px;
    color: #fff;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 385px;
        font-size: 52px;
        line-height: 1.1;
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 424px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        margin: 0 auto 16px;
    }
}